<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex flex-row">
    <nav class="col-2 offset-1 w-75 navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Профиль
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li th:if="${user!=null}"><a class="dropdown-item" th:href="@{'/user/' + ${user.getId()}}"> Профиль</a></li>
                            <li th:if="${user==null}"><a class="dropdown-item" th:href="@{'/login'}"> Войти в профиль</a></li>
                            <li th:if="${user!=null}"><a class="dropdown-item" th:href="@{'/user/settings'}">Настройки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <input class="dropdown-item" type="submit" value="Submit">
                            </li>
                            <li>
                                <form class="dropdown-item" th:action="@{/logout}" method="post">
                                    <input type="submit" value="Sign Out"/>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" method="get" action="/search">
                    <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="col-sm-8 offset-1 container">
    <div class="row" th:each="f:${page}">
        <div class="row justify-content-start">
            <img class="img-thumbnail" th:src="'data:image/jpeg;base64,' + ${f.getStringImg(200,200)}"  alt="...">
        </div>
        <div class="row justify-content-end">
            <p th:text="${f.getName()}"></p>
            <p th:text="${f.getDate().getYear()}">th:text="${f.getCountry().getName()}"></p>
        </div>
    </div>
</div>
<ul class="offset-1 mt-5 nav nav-pills">
    <li class="nav-item" th:each="i:${#numbers.sequence(0,page.getTotalPages()-1)}">
        <a th:href="@{/search(page=${i},name=${name})}" th:text="${i+1}" class="nav-link" th:classappend="${page.getNumber()==i} ? 'active':''"></a>
    </li>
</ul>
</body>
</html>