<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h User/>

<p th:text="${user.getId()}"></p>
<p th:text="${user.getUsername()}"></p>
<p th:text="${user.getEmail()}"></p>
<p th:text="${user.getRole().getName()}"></p>
<table>
    <tr th:each="g:${grades}">
        <th th:text="${g.getFilm().getName()}"></th>
        <th th:text="${g.getGrade()}"></th>
    </tr>
</table>
<p></p>
<table>
    <tr th:each="review:${reviews}">
        <th th:text="${review.getFilm()}"></th>
        <th th:text="${review.getDate()}"></th>
        <th th:text="${review.getText()}"></th>
        <th th:text="${review.getGrade()}"></th>
    </tr>
</table>
</body>
</html>