<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
</head>
<body>

<div class="d-flex flex-row">
    <nav class="col-2 offset-1 w-75 navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Профиль
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li th:if="${user!=null}"><a class="dropdown-item" th:href="@{'/user/' + ${user.getId()}}"> Профиль</a></li>
                            <li th:if="${user==null}"><a class="dropdown-item" th:href="@{'/login'}"> Войти в профиль</a></li>
                            <li th:if="${user!=null}"><a class="dropdown-item" th:href="@{'/user/settings'}">Настройки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <input class="dropdown-item" type="submit" value="Submit">
                            </li>
                            <li>
                                <form class="dropdown-item" th:action="@{/logout}" method="post">
                                    <input type="submit" value="Sign Out"/>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" method="get" action="/search">
                    <input class="form-control me-2" type="search" name="name" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>



<br><br><br>

<style>
    body{background:url(https://bootstraptema.ru/images/bg/bg-1.png)}

    #main {
        background-color: #f2f2f2;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        border-bottom: 4px solid #ddd;
    }
    #real-estates-detail #author img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        border: 5px solid #ecf0f1;
        margin-bottom: 10px;
    }
    #real-estates-detail .sosmed-author i.fa {
        width: 30px;
        height: 30px;
        border: 2px solid #bdc3c7;
        color: #bdc3c7;
        padding-top: 6px;
        margin-top: 10px;
    }
    .panel-default .panel-heading {
        background-color: #fff;
    }
    #real-estates-detail .slides li img {
        height: 450px;
    }
</style>
<div class="container gy-2">
    <ul class="offset-1 gy-2 w-75 nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{'/user/' + ${id}}">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{'/user/' + ${id} + '/votes'}">Оценки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Рецензии</a>
        </li>
    </ul>
</div>
<div class="container">
    <div id="main">
        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong th:text="${user.getUsername()}"></strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            <img src="http://www.fly-webmaster.ru/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png" width="300" height="300" alt="...">
                            <h3 th:text="${user.getUsername()}"></h3>
                            <small class="label label-warning">Страна</small>
                            <p>Фраза</p>
                            <p class="sosmed-author">
                                <a th:href="@{${user.getTwitterLink()}}"><i class="fa fa-twitter" title="Twitter"></i></a>
                                <a th:href="@{${user.getGoogleLink()}}"><i class="fa fa-google-plus" title="Google Plus"></i></a>
                                <a th:href="@{${user.getVkLink()}}"><i class="fa fa-linkedin" title="Linkedin"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a th:href="@{'/user/' + ${user.getId()}}" data-toggle="tab">О пользователе</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <table class="table table-th-block">
                                    <tbody>
                                    <tr th:if="${user.getRegistrationDate()!=null}"><td class="active">Зарегистрирован:</td><td><span th:text="${user.getRegistrationDate()}"></span></td></tr>
                                    <tr th:if="${user.getCountry()!=null}"><td class="active">Страна:</td><td><span th:text="${user.getCountry().getName()}"></span></td></tr>
                                    <tr th:if="${user.getBirthdate()!=null}"><td class="active">Дата рождения:</td><td><span th:text="${user.getBirthdate()}"></span></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.main -->
</div><!-- /.container -->
</body>
</html>